.all{
    background-color: black;
    height: 80px;
    width: 290px;
}
.p1{
    font-family: Roboto;
    padding-left: 10px;
    padding-top: 15px;
    color: white;
    font-weight: bold;
}
.p2{
    width: 280px;
    padding-top: 5px;
    padding-left: 10px;
    
    font-size: 12px;
    font-family: Roboto;
    color: gray;
}