.all{
    width: auto;
    
}
.oject1{
    width: 120px;
    height: 150px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-right: 3px;
    vertical-align: top;
}
.thongTin{
    padding-left: 4px;
}
.img{
    width: 100%;
}
.name{
    
    font-family: Roboto;
    font-weight: bold;
}
.friends{
    color: gray;
    font-size: 7px;
    font-family: Roboto;
}
.button-add{
    font-size: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 9px;
    margin-top: 3px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 2px;
}